@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    cursor: url('/VHS/public/cursors/cursor.cur'), auto !important;
    cursor: url('/VHS/public/cursors/cursor.cur'), pointer !important;
}

input, textarea {
    cursor: text !important;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #14001B;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.icon.active {
    background-color: #7b08d3;
} .icon.active.active > img {
    filter: invert(100%) brightness(150%) contrast(150%);    
} .icon.active + .menu-text {
    color: white;
}

@keyframes smooth {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes hidden_smooth {
    to { opacity: 0; }
}

.play { 
    animation: smooth 0.15s 
    ease-in; 
}

.play.paused {
    animation: hidden_smooth 0.15s ease-in;
    animation-fill-mode: forwards;
}